{% extends "base.html" %}
{% block contents %}
<article>
    <section>
        <h2>More of what you like</h2>
    </section>
    <section>
        <h2>Recently Played</h2>
    </section>
    <section>
        <h2>The Upload</h2>
    </section>
    <section>
        <h2>Charts: Top 50</h2>
    </section>
    <section>
        <h2>Charts: New & hot</h2>
    </section>
    <section>
        <h2>Artists You Should Know</h2>
    </section>
    <section>
        <h2>SoundCloud Weekly</h2>
    </section>
    <section>
        <h2>Study</h2>
    </section>
    <section>
        <h2>Relax</h2>
    </section>
    <section>
        <h2>Chill</h2>
    </section>
    <section>
        <h2>Sleep</h2>
    </section>
    <section>
        <h2>Party</h2>
    </section>
    <section>
        <h2>Workout</h2>
    </section>
</article>
<aside>
    <section>
        <h3>Artists you should follow</h3>
    </section>
    <section>
        <h3>likes</h3>
    </section>
    <section>
        <h3>likes</h3>
    </section>
    <section>
        <h3>Go mobile</h3>
    </section>
    <footer>
        
    </footer>
</aside>
{% endblock %}