{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <title>Sound Cloud</title>
</head>
<body>
    <header class="header">
        <img>
        <nav>
            <ul class="nav">
                <li><span>Home</span></li>
                <li><span>Stream</span></li>
                <li><span>Library</span></li>
            </ul>
        </nav>
        <form>
            <input>
            <button></button>
        </form>
        <span>Upload</span>
        <img>
        <span>Jimin Kim</span>
        <img>
        <img>
        <img>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <button></button>
        <div>
            <span></span>
            <div></div>
            <span></span>
        </div>
        <button></button>
        <div>
            <img>
            <div>
                <span></span>
                <span></span>
            </div>
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>
</body>
</html>