{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
    <title>Sound Cloud</title>
</head>
<body>
    <header class="header">
        <img>
        <button class="header-item nav-item" >Home</button>
        <button class="header-item nav-item">Stream</button>
        <button class="header-item nav-item">Library</button>
        <form>
            <input class="header-search">
            <button></button>
        </form>
        <button class="header-item"><span>Upload</span></button>
        <button class="header-item">
            <img>
            <span>Jimin Kim</span>
        </button>
        <button class="header-item nav-item2"></button>
        <button class="header-item nav-item2"></button>
        <button class="header-item nav-item2"></button>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div class="control_bar">
        <button class="control-button"></button>
        <button class="control-button"></button>
        <button class="control-button"></button>
        <button class="control-button"></button>
        <button class="control-button"></button>
        <div>
            <audio controls>
                <source scr="" type="">
            </audio>
            <span></span>
            <div></div>
            <span></span>
        </div>
        <button class="control-button"></button>
        <div>
            <img>
            <div>
                <span></span>
                <span></span>
            </div>
            <button class="control-button"></button>
            <button class="control-button"></button>
            <button class="control-button"> </button>
        </div>
    </div>
</body>
</html>